<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id='standard'>
        <route id='tryspeed_payment' frontName='tryspeed'>
            <module name='Tryspeed_BitcoinPayment' />
        </route>
    </router>
</config>