<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="speed_admin" frontName="speed_admin">
            <module name="Tryspeed_BitcoinPayment" />
        </route>
    </router>
</config>
